# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# IDE and OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/
